
.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: url('spider-crawling.gif');
    background-size: cover;
    background-position: center;
    transition: 0.8s ease-in-out;
    transition-delay: 0.25s;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    background: #4d4c4c17;
    border: 0.125em solid  #fff;
    border-radius: 0.375em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 1.875em; 
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: 0.3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 2em; 
    text-align: center;
    background: linear-gradient(45deg, transparent,rgba(111, 57, 187, 0.507), transparent);
    border-radius: 0.375em;
    border-bottom: 0.125em solid #fff;
}

.quiz-box .question-text {
    font-size: 1.5em; 
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 0.75em; 
    background: transparent;
    border: 0.125em solid rgba(255, 255, 255, .2);
    border-radius: 0.25em;
    font-size: 1em;
    margin: 0.9375em 0; 
    cursor: pointer;
    transition: 0.3s;
}

.option-list .option:hover {
    background-color: rgba(111, 57, 187, 0.507);
    border-color: rgba(111, 57, 187, 0.507);
}

.option-list .option.selected {
    background: #191919;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.125em solid #fff;
    padding-top: 1.25em; 
    margin-top: 1.5625em; 
}

.quiz-footer .question-total {
    font-size: 1em;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 6.25em; 
    height: 3.125em; 
    background: rgba(255, 255, 255, .1);
    border: 0.125em solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 0.375em;
    font-size: 1em;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: rgba(111, 57, 187, 0.507);
    border-color: #fff;
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: rgba(111, 57, 187, 0.507);
    border-color: #fff;
}

.quiz-section .result-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 30em; 
    background: transparent;
    border: 0.125em solid #fff;
    border-radius: 0.375em; 
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

