.result-box h2 {
    margin-top: 0.625em; 
    font-size: 2.6em; 
    color: rgba(111, 57, 187, 0.507);
}

.result-box .spider-image {
   width: 18.75em; 
   height: 18.75em; 
}
.result-box .spider-description {
    font-size: 1.125em; 
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 0.625em; 
    margin-bottom: 0.625em; 
}
.result-box .result-text {
    font-size: 1.625em; 
    font-weight: 600;
    margin: 1.25em; 
}

.result-box .buttons {
    display: flex;
}
