@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #000;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 5%;
    background: rgba(95, 95, 95, 0.727);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
  }
  
  .marquee {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    animation: marquee 10s linear infinite;
  }
  
  .marquee p {
    display: inline-block;
  }
  
  @keyframes marquee {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-50%, 0, 0);
    }
  }

.logo {
    font-size: 5vw;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 1vw rgba(111, 57, 187, 0.507)) drop-shadow(0 0 0.5vw rgba(111, 57, 187, 0.507)); /* Add a glow filter */
  }

.main {
    display: block;
    flex-grow: 1;
    min-height: 100vh; 
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    transition: .3s ease;
    overflow: hidden;
    pointer-events: auto;
}


.main.active {
    filter: blur(0.9em);
    pointer-events: none;
}

.container {
    display: flex;
    flex-grow: 1;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 40em; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-content h1{
    font-size: 4.5vw; 
    font-weight: 700;
    text-shadow: 0 0 0.3125em rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 1.2em; 
    text-align: center;
    text-shadow: 0 0 0.3125em rgba(0, 0, 0, .3); 
    margin-bottom: 1.875em;
    color: #fff; 
    border: 0.125em solid #fff; 
    border-radius: 0.625em; 
    padding: 0.625em; 
    background-color: rgba(255, 255, 255, 0.507); 
  }
  

.home-content .take-quiz-btn {
  width: 9.5em; 
  height: 3.125em; 
  background-color: #a8a8a8;
  border: 0.125em solid rgba(206, 204, 204, 0.727); 
  border-radius: 0.375em; 
  box-shadow: 0 0 0.625em #e6e6e6; 
  font-size: 1em;
  color: #565656;
  letter-spacing: 0.0625em; 
  font-weight: 600;
  cursor: pointer;
}

.home-content .take-quiz-btn:hover {
    background: rgba(111, 57, 187, 0.507);
    box-shadow: none;
    color: #fff;
}

.popup-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    background: #fff;
    border-radius: 0.375em; 
    padding: 0.625em 1.5625em; 
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;

    h2 {
        font-size: 20px;
        color: #333;
    }

    p {
        font-size: 14px;
        color: #666;
        line-height: 1.5;
    }

    button {
        background-color: #000000; 
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 16px;
        transition: all 0.2s ease-in-out; 
    }

    button:hover {
        background-color: #121312;
    }
}

.popup-login.logged-in {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 31.25em; 
    background: #fff;
    border-radius: 0.375em; 
    padding: 0.625em 1.5625em; 
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.popup-info h2{
    font-size: 2.5em; 
    color: rgba(111, 57, 187, 0.507);
}

.popup-info .info{
    display: inline-block;
    font-size: 1em;
    color: #333;
    font-weight: 500;
    margin: 0.25em 0; 
}

.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.0625em solid #3c3a3a; 
    margin-top: 0.0625em; 
    padding: 0.9375em 0 0.4375em; 
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8.125em; 
    height: 3.125em; 
    background: rgba(111, 57, 187, 0.507);
    border: 0.125em solid #191919;
    outline: none;
    border-radius: 0.375em; 
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 0.3125em rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: 0.5s;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background: transparent;
    color: #161515;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: #161515;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(2):hover {
    background: #161515;
    border-color: #191919;
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: url('spider-crawling.gif');
    background-size: cover;
    background-position: center;
    transition: 0.8s ease-in-out;
    transition-delay: 0.25s;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section.active {
    left: 0;
}

.quiz-section .quiz-box {
    position: relative;
    background: #4d4c4c17;
    border: 0.125em solid  #fff;
    border-radius: 0.375em;
    display: flex;
    flex-direction: column;
    padding: 1.25em 1.875em; 
    opacity: 0;
    pointer-events: none;
    transform: scale(0.9);
    transition: 0.3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1 {
    font-size: 2em; 
    text-align: center;
    background: linear-gradient(45deg, transparent,rgba(111, 57, 187, 0.507), transparent);
    border-radius: 0.375em;
    border-bottom: 0.125em solid #fff;
}

.quiz-box .question-text {
    font-size: 1.5em; 
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 0.75em; 
    background: transparent;
    border: 0.125em solid rgba(255, 255, 255, .2);
    border-radius: 0.25em;
    font-size: 1em;
    margin: 0.9375em 0; 
    cursor: pointer;
    transition: 0.3s;
}

.option-list .option:hover {
    background-color: rgba(111, 57, 187, 0.507);
    border-color: rgba(111, 57, 187, 0.507);
}

.option-list .option.selected {
    background: #191919;
    color: #e6e6e6;
    border-color: #e6e6e6;
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.125em solid #fff;
    padding-top: 1.25em; 
    margin-top: 1.5625em; 
}

.quiz-footer .question-total {
    font-size: 1em;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 6.25em; 
    height: 3.125em; 
    background: rgba(255, 255, 255, .1);
    border: 0.125em solid rgba(255, 255, 255, .1);
    outline: none;
    border-radius: 0.375em;
    font-size: 1em;
    color: rgba(255, 255, 255, .3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: 0.5s;
}

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: rgba(111, 57, 187, 0.507);
    border-color: #fff;
    color: #fff;
}

.quiz-footer .next-btn.active:hover {
    background: rgba(111, 57, 187, 0.507);
    border-color: #fff;
}

.quiz-section .result-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(.9);
    width: 30em; 
    background: transparent;
    border: 0.125em solid #fff;
    border-radius: 0.375em; 
    padding: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}

.result-box h2 {
    margin-top: 0.625em; 
    font-size: 2.6em; 
    color: rgba(111, 57, 187, 0.507);
}

.result-box .spider-image {
   width: 18.75em; 
   height: 18.75em; 
}
.result-box .spider-description {
    font-size: 1.125em; 
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 0.625em; 
    margin-bottom: 0.625em; 
}
.result-box .result-text {
    font-size: 1.625em; 
    font-weight: 600;
    margin: 1.25em; 
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 8.125em; 
    height: 3.125em; 
    background:  rgba(111, 57, 187, 0.507);
    border: 0.125em solid #fff;
    outline: none;
    border-radius: 0.375em;
    font-size: 1em;
    color: #fff;
    font-weight: 600;
    margin: 0 1.25em 1.25em; 
    cursor: pointer;
    transition: 0.5s;
}

.buttons button:nth-child(1):hover {
    background: #656565;
    border-color: #fff;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #fff;
}

.buttons button:nth-child(2):hover {
    background: #4d4d4d;
    color: #fff;
}

