@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: #a8a8a8;
    border: 0.125em solid rgba(206, 204, 204, 0.727); 
    border-radius: 0.375em; 
    box-shadow: 0 0 0.625em #e6e6e6;
    color: black;
    cursor: pointer;
}

button:hover {
    background: rgba(111, 57, 187, 0.507);
    box-shadow: none;
    color: #fff;
}

body {
    display: flex;
    flex-direction: column;
    color: #fff;
    min-height: 100vh; 
    transition: .3s ease;
    pointer-events: auto;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: url('background.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
}

.blur {
    filter: blur(0.9em);
    pointer-events: none;
}

header {
    padding: 1em;
    background: rgba(95, 95, 95, 0.727);
    display: flex;
    justify-content: space-between;
}

.log-out-btn {
    width: 5.5em; 
    height: 2.125em; 
    font-size: 1em;
    letter-spacing: 0.0625em; 
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875em;;
    max-width: 40em; 
    margin: auto;
}

.content h1{
    font-size: 4.5vw; 
    font-weight: 700;
    text-shadow: 0 0 0.3125em rgba(0, 0, 0, .3);
    text-align: center;
}

.content p {
    font-size: 1.2em; 
    text-align: center;
    text-shadow: 0 0 0.3125em rgba(0, 0, 0, .3); 
    border: 0.125em solid #fff; 
    border-radius: 0.625em; 
    padding: 0.625em; 
    background-color: rgba(255, 255, 255, 0.507); 
}

.content .take-quiz-btn {
  width: 9.5em; 
  height: 3.125em; 
  font-size: 1em;
  letter-spacing: 0.0625em; 
  font-weight: 600;
}

dialog {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    border-radius: 0.375em; 
    padding: 0.625em 1.5625em; 
    transform: translate(-50%,-50%) scale(.9); 
    background-color: white;
    max-width: 70%;
    max-height: 92%;
    overflow: auto;
    visibility: hidden;
}

#instructions ol {
    padding-left: 1.5625em; 
}

.instructions-header{
    font-size: 2.5em; 
    color: rgba(111, 57, 187, 0.507);
}

.instructions-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625em solid #3c3a3a;
    padding-top: 0.5em;
}

.instructions-buttons .exit-btn {
    width: 8.125em; 
    height: 2.75em; 
    background: transparent;
    font-size: 1em;
    letter-spacing: 0.0625em; 
    font-weight: 600;
}

.instructions-buttons .exit-btn:hover {
    background: rgba(111, 57, 187, 0.507);
    box-shadow: none;
    color: #fff;
}

.instructions-buttons .continue-btn {
    width: 8.125em; 
    height: 2.75em;
    font-size: 1em;
    letter-spacing: 0.0625em; 
    font-weight: 600;
    pointer-events: none;
}

#quiz {
    min-width: 70%;
}

.question-text {
    font-size: 1.5em; 
    text-align: center;
    color: rgba(111, 57, 187, 0.507);
}

.option-list .option {
    padding: 0.75em; 
    background: transparent;
    border: 0.125em solid rgba(111, 57, 187, 0.507);
    border-radius: 2.25em;
    font-size: 1em;
    margin: 0.9375em 0; 
    cursor: pointer;
    transition: 0.3s;
}

.option-list .option:hover {
    background-color: rgba(111, 57, 187, 0.507);
    border-color: rgba(111, 57, 187, 0.507);
}

.option-list .option.selected {
    background: #191919;
    color: #e6e6e6;
    border-color: #e6e6e6;
}


.quiz-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625em solid #3c3a3a;
    padding-top: 0.5em;
    align-items: center;
}

.quiz-footer .question-total {
    font-size: 1em;
    font-weight: 600;
}

.quiz-footer .next-btn {
    background-color: transparent;
    width: 6.25em; 
    height: 3.125em; 
    border: 0.125em solid #a8a8a8;
    outline: none;
    border-radius: 0.375em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
}

.quiz-footer .next-btn.active {
    background-color: #a8a8a8;
    pointer-events: auto;
}

.quiz-footer .next-btn.active:hover {
    background-color: rgba(111, 57, 187, 0.507);
}

#results {
    align-items: center;
}

#results h2 {
    font-size: 2.6em; 
    color: rgba(111, 57, 187, 0.507);
}

.spider-image {
   width: 21.75em; 
   height: 11.75em;
   max-width: 100%; 
   max-height: 100%; 
}

.spider-description {
    font-size: 1.125em; 
    font-weight: 400;
    text-align: center;
}
.result-text {
    font-size: 1.625em; 
    font-weight: 600;
}

.results-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.0625em solid #3c3a3a;
    padding-top: 0.5em;
    width: 100%;
}

.results-buttons .retake-btn {
    width: 8.125em; 
    height: 2.75em; 
    background: transparent;
    font-size: 1em;
    letter-spacing: 0.0625em; 
    font-weight: 600;
}

.results-buttons .retake-btn:hover {
    background: rgba(111, 57, 187, 0.507);
    box-shadow: none;
    color: #fff;
}

.results-buttons .go-home-btn {
    width: 8.125em; 
    height: 2.75em;
    font-size: 1em;
    letter-spacing: 0.0625em; 
    font-weight: 600;
}

#login {
    min-width: 30%;
}

#login h2 {
    font-size: 1.5em;
    color: #333;
}

#login p {
    font-size: 1em;
    color: #666;
    line-height: 1.5;
}

#login button {
    width: 100%; 
    height: 2.75em;
    font-size: 1em;
}



